# This is located at /etc/udev/rules.d/69-vdev.rules
# /usr/lib/udev/rules.d/69-vdev.rules
#
ENV{DEVTYPE}=="disk", ENV{DEVPATH}=="/devices/pci0000:00/0000:00:01.0/0000:01:00.0/ata9/host8/target8:0:0/8:0:0:0/block/sd*", SYMLINK+="disk/by-vdev/1-1"
ENV{DEVTYPE}=="disk", ENV{DEVPATH}=="/devices/pci0000:00/0000:00:01.0/0000:01:00.0/ata9/host8/target8:1:0/8:1:0:0/block/sd*", SYMLINK+="disk/by-vdev/1-2"
ENV{DEVTYPE}=="disk", ENV{DEVPATH}=="/devices/pci0000:00/0000:00:01.0/0000:01:00.0/ata9/host8/target8:2:0/8:2:0:0/block/sd*", SYMLINK+="disk/by-vdev/1-3"
ENV{DEVTYPE}=="disk", ENV{DEVPATH}=="/devices/pci0000:00/0000:00:01.0/0000:01:00.0/ata9/host8/target8:3:0/8:3:0:0/block/sd*", SYMLINK+="disk/by-vdev/1-4"
ENV{DEVTYPE}=="disk", ENV{DEVPATH}=="/devices/pci0000:00/0000:00:01.0/0000:01:00.0/ata9/host8/target8:4:0/8:4:0:0/block/sd*", SYMLINK+="disk/by-vdev/1-5"
ENV{DEVTYPE}=="disk", ENV{DEVPATH}=="/devices/pci0000:00/0000:00:01.0/0000:01:00.0/ata10/host9/target9:0:0/9:0:0:0/block/sd*", SYMLINK+="disk/by-vdev/1-6"
ENV{DEVTYPE}=="disk", ENV{DEVPATH}=="/devices/pci0000:00/0000:00:01.0/0000:01:00.0/ata10/host9/target9:1:0/9:1:0:0/block/sd*", SYMLINK+="disk/by-vdev/1-7"
ENV{DEVTYPE}=="disk", ENV{DEVPATH}=="/devices/pci0000:00/0000:00:01.0/0000:01:00.0/ata10/host9/target9:2:0/9:2:0:0/block/sd*", SYMLINK+="disk/by-vdev/1-8"
ENV{DEVTYPE}=="disk", ENV{DEVPATH}=="/devices/pci0000:00/0000:00:01.0/0000:01:00.0/ata10/host9/target9:3:0/9:3:0:0/block/sd*", SYMLINK+="disk/by-vdev/1-9"
ENV{DEVTYPE}=="disk", ENV{DEVPATH}=="/devices/pci0000:00/0000:00:01.0/0000:01:00.0/ata10/host9/target9:4:0/9:4:0:0/block/sd*", SYMLINK+="disk/by-vdev/1-10"
ENV{DEVTYPE}=="disk", ENV{DEVPATH}=="/devices/pci0000:00/0000:00:01.0/0000:01:00.0/ata11/host10/target10:0:0/10:0:0:0/block/sd*", SYMLINK+="disk/by-vdev/1-11"
ENV{DEVTYPE}=="disk", ENV{DEVPATH}=="/devices/pci0000:00/0000:00:01.0/0000:01:00.0/ata11/host10/target10:1:0/10:1:0:0/block/sd*", SYMLINK+="disk/by-vdev/1-12"
ENV{DEVTYPE}=="disk", ENV{DEVPATH}=="/devices/pci0000:00/0000:00:01.0/0000:01:00.0/ata11/host10/target10:2:0/10:2:0:0/block/sd*", SYMLINK+="disk/by-vdev/1-13"
ENV{DEVTYPE}=="disk", ENV{DEVPATH}=="/devices/pci0000:00/0000:00:01.0/0000:01:00.0/ata11/host10/target10:3:0/10:3:0:0/block/sd*", SYMLINK+="disk/by-vdev/1-14"
ENV{DEVTYPE}=="disk", ENV{DEVPATH}=="/devices/pci0000:00/0000:00:01.0/0000:01:00.0/ata11/host10/target10:4:0/10:4:0:0/block/sd*", SYMLINK+="disk/by-vdev/1-15"
ENV{DEVTYPE}=="disk", ENV{DEVPATH}=="/devices/pci0000:00/0000:00:01.1/0000:02:00.0/ata13/host12/target12:0:0/12:0:0:0/block/sd*", SYMLINK+="disk/by-vdev/2-1"
ENV{DEVTYPE}=="disk", ENV{DEVPATH}=="/devices/pci0000:00/0000:00:01.1/0000:02:00.0/ata13/host12/target12:1:0/12:1:0:0/block/sd*", SYMLINK+="disk/by-vdev/2-2"
ENV{DEVTYPE}=="disk", ENV{DEVPATH}=="/devices/pci0000:00/0000:00:01.1/0000:02:00.0/ata13/host12/target12:2:0/12:2:0:0/block/sd*", SYMLINK+="disk/by-vdev/2-3"
ENV{DEVTYPE}=="disk", ENV{DEVPATH}=="/devices/pci0000:00/0000:00:01.1/0000:02:00.0/ata13/host12/target12:3:0/12:3:0:0/block/sd*", SYMLINK+="disk/by-vdev/2-4"
ENV{DEVTYPE}=="disk", ENV{DEVPATH}=="/devices/pci0000:00/0000:00:01.1/0000:02:00.0/ata13/host12/target12:4:0/12:4:0:0/block/sd*", SYMLINK+="disk/by-vdev/2-5"
ENV{DEVTYPE}=="disk", ENV{DEVPATH}=="/devices/pci0000:00/0000:00:01.1/0000:02:00.0/ata14/host13/target13:0:0/13:0:0:0/block/sd*", SYMLINK+="disk/by-vdev/2-6"
ENV{DEVTYPE}=="disk", ENV{DEVPATH}=="/devices/pci0000:00/0000:00:01.1/0000:02:00.0/ata14/host13/target13:1:0/13:1:0:0/block/sd*", SYMLINK+="disk/by-vdev/2-7"
ENV{DEVTYPE}=="disk", ENV{DEVPATH}=="/devices/pci0000:00/0000:00:01.1/0000:02:00.0/ata14/host13/target13:2:0/13:2:0:0/block/sd*", SYMLINK+="disk/by-vdev/2-8"
ENV{DEVTYPE}=="disk", ENV{DEVPATH}=="/devices/pci0000:00/0000:00:01.1/0000:02:00.0/ata14/host13/target13:3:0/13:3:0:0/block/sd*", SYMLINK+="disk/by-vdev/2-9"
ENV{DEVTYPE}=="disk", ENV{DEVPATH}=="/devices/pci0000:00/0000:00:01.1/0000:02:00.0/ata14/host13/target13:4:0/13:4:0:0/block/sd*", SYMLINK+="disk/by-vdev/2-10"
ENV{DEVTYPE}=="disk", ENV{DEVPATH}=="/devices/pci0000:00/0000:00:01.1/0000:02:00.0/ata15/host14/target14:0:0/14:0:0:0/block/sd*", SYMLINK+="disk/by-vdev/2-11"
ENV{DEVTYPE}=="disk", ENV{DEVPATH}=="/devices/pci0000:00/0000:00:01.1/0000:02:00.0/ata15/host14/target14:1:0/14:1:0:0/block/sd*", SYMLINK+="disk/by-vdev/2-12"
ENV{DEVTYPE}=="disk", ENV{DEVPATH}=="/devices/pci0000:00/0000:00:01.1/0000:02:00.0/ata15/host14/target14:2:0/14:2:0:0/block/sd*", SYMLINK+="disk/by-vdev/2-13"
ENV{DEVTYPE}=="disk", ENV{DEVPATH}=="/devices/pci0000:00/0000:00:01.1/0000:02:00.0/ata15/host14/target14:3:0/14:3:0:0/block/sd*", SYMLINK+="disk/by-vdev/2-14"
ENV{DEVTYPE}=="disk", ENV{DEVPATH}=="/devices/pci0000:00/0000:00:01.1/0000:02:00.0/ata15/host14/target14:4:0/14:4:0:0/block/sd*", SYMLINK+="disk/by-vdev/2-15"
ENV{DEVTYPE}=="disk", ENV{DEVPATH}=="/devices/pci0000:00/0000:00:1c.4/0000:04:00.0/ata17/host16/target16:0:0/16:0:0:0/block/sd*", SYMLINK+="disk/by-vdev/3-1"
ENV{DEVTYPE}=="disk", ENV{DEVPATH}=="/devices/pci0000:00/0000:00:1c.4/0000:04:00.0/ata17/host16/target16:1:0/16:1:0:0/block/sd*", SYMLINK+="disk/by-vdev/3-2"
ENV{DEVTYPE}=="disk", ENV{DEVPATH}=="/devices/pci0000:00/0000:00:1c.4/0000:04:00.0/ata17/host16/target16:2:0/16:2:0:0/block/sd*", SYMLINK+="disk/by-vdev/3-3"
ENV{DEVTYPE}=="disk", ENV{DEVPATH}=="/devices/pci0000:00/0000:00:1c.4/0000:04:00.0/ata17/host16/target16:3:0/16:3:0:0/block/sd*", SYMLINK+="disk/by-vdev/3-4"
ENV{DEVTYPE}=="disk", ENV{DEVPATH}=="/devices/pci0000:00/0000:00:1c.4/0000:04:00.0/ata17/host16/target16:4:0/16:4:0:0/block/sd*", SYMLINK+="disk/by-vdev/3-5"
ENV{DEVTYPE}=="disk", ENV{DEVPATH}=="/devices/pci0000:00/0000:00:1c.4/0000:04:00.0/ata18/host17/target17:0:0/17:0:0:0/block/sd*", SYMLINK+="disk/by-vdev/3-6"
ENV{DEVTYPE}=="disk", ENV{DEVPATH}=="/devices/pci0000:00/0000:00:1c.4/0000:04:00.0/ata18/host17/target17:1:0/17:1:0:0/block/sd*", SYMLINK+="disk/by-vdev/3-7"
ENV{DEVTYPE}=="disk", ENV{DEVPATH}=="/devices/pci0000:00/0000:00:1c.4/0000:04:00.0/ata18/host17/target17:2:0/17:2:0:0/block/sd*", SYMLINK+="disk/by-vdev/3-8"
ENV{DEVTYPE}=="disk", ENV{DEVPATH}=="/devices/pci0000:00/0000:00:1c.4/0000:04:00.0/ata18/host17/target17:3:0/17:3:0:0/block/sd*", SYMLINK+="disk/by-vdev/3-9"
ENV{DEVTYPE}=="disk", ENV{DEVPATH}=="/devices/pci0000:00/0000:00:1c.4/0000:04:00.0/ata18/host17/target17:4:0/17:4:0:0/block/sd*", SYMLINK+="disk/by-vdev/3-10"
ENV{DEVTYPE}=="disk", ENV{DEVPATH}=="/devices/pci0000:00/0000:00:1c.4/0000:04:00.0/ata19/host18/target18:0:0/18:0:0:0/block/sd*", SYMLINK+="disk/by-vdev/3-11"
ENV{DEVTYPE}=="disk", ENV{DEVPATH}=="/devices/pci0000:00/0000:00:1c.4/0000:04:00.0/ata19/host18/target18:1:0/18:1:0:0/block/sd*", SYMLINK+="disk/by-vdev/3-12"
ENV{DEVTYPE}=="disk", ENV{DEVPATH}=="/devices/pci0000:00/0000:00:1c.4/0000:04:00.0/ata19/host18/target18:2:0/18:2:0:0/block/sd*", SYMLINK+="disk/by-vdev/3-13"
ENV{DEVTYPE}=="disk", ENV{DEVPATH}=="/devices/pci0000:00/0000:00:1c.4/0000:04:00.0/ata19/host18/target18:3:0/18:3:0:0/block/sd*", SYMLINK+="disk/by-vdev/3-14"
ENV{DEVTYPE}=="disk", ENV{DEVPATH}=="/devices/pci0000:00/0000:00:1c.4/0000:04:00.0/ata19/host18/target18:4:0/18:4:0:0/block/sd*", SYMLINK+="disk/by-vdev/3-15"


ENV{SUBSYSTEM}=="block", ENV{DEVTYPE}=="partition", IMPORT{program}="/usr/local/bin/udev-vdev-partition-map %k", SYMLINK+="$env{ID_VDEV_PATH}-part%n"

#ENV{DEVTYPE}=="disk", IMPORT{program}="/usr/lib/udev/vdev_id -d %k"
#KERNEL=="*[!0-9]", ENV{SUBSYSTEM}=="block", ENV{ID_VDEV}=="?*", SYMLINK+="$env{ID_VDEV_PATH}"
#KERNEL=="*[0-9]", ENV{SUBSYSTEM}=="block", ENV{DEVTYPE}=="partition", ENV{ID_VDEV}=="?*", SYMLINK+="$env{ID_VDEV_PATH}-part%n"
#KERNEL=="dm-[0-9]*", ENV{SUBSYSTEM}=="block", ENV{ID_VDEV}=="?*", SYMLINK+="$env{ID_VDEV_PATH}"
